{% extends "accountsvcs/root.html" %}

{% block body %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}


                <form method="post">
                    <h2>Forgotten password?  <small class="text-muted">Supply your e-mail address!</small></h2>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="sr-only">E-mail Address</label>
                        <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="255"
                               name="{{ form.email.html_name }}" placeholder="bigwhoop@hellfire-harlots.co.uk" type="email" required="required"/>
                    </div>

                    <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
                </form>
{% endblock %}
