{% extends "accountsvcs/root.html" %}
{% load i18n %}
{% block body %}

        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Password Reset Complete</div>
            <div class="panel-body">

                <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                <p><a class="btn btn-outline-primary btn-block" href="{{ login_url }}">{% trans 'Log in' %}</a></p>

            </div>
        </div>
{% endblock %}
