{% extends 'accountsvcs/root.html' %}
{% block body %}


    <form class="form-signin" method="post" action="{% url 'hello' %}">
        <h1 class="form-signin-heading"><span class="ion-fireball"></span></h1>
        <h2 class="form-signin-heading">Sign in to {{ LEAGUE_NAME }} Inferno</h2>
        {% csrf_token %}

        <label for="username_field" class="sr-only">E-Mail Address</label>
        <input class="form-control" id="username_field" maxlength="255"
               name="username_field" placeholder="E-mail address" type="text" required="required"
               autofocus="autofocus"/>

        <label for="password_field" class="sr-only">Password</label>
        <input class="form-control" id="password_field" maxlength="30"
               name="password_field" placeholder="Password" type="password" required="required"/>

        <input type="hidden" name="next" value="{{ next }}"/>


        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign in</button>


        <a class="btn btn-outline-info btn-block" href="{% url 'password_reset' %}">Reset Password</a>


        <a class="btn btn-outline-info btn-block" href="{% url 'signup' %}?next={{ next }}"
           title="Join {{ LEAGUE_NAME }} Inferno">Join
            {{ LEAGUE_NAME }} Inferno!</a>
    </form>

{% endblock %}