{% extends 'accountsvcs/root.html' %}
{% block head %}
    <style type="text/css">
        .squashed {
            max-width: 330px;
  padding: 15px;
  margin: 0 auto;
        }
    .squashed h2, h1 {
        text-align: center;
    }
    </style>
{% endblock %}
{% block body %}

    <form method='post' action="{% url 'signup' %}" class="form-horizontal squashed">
        <h1><span class="ion-fireball"></span></h1>
        <h2>Sign up to {{ LEAGUE_NAME }} Inferno</h2>

        {% csrf_token %}
            <label for="email_field" class="sr-only">Email address</label>
            <input type="email" name="email_field" class="form-control" placeholder="Email address" required autofocus>

            <label for="name_field" class="sr-only">Your Name</label>
            <input type="text" name="name_field" class="form-control" placeholder="Your name (Derby or Real!)" required>
            <label for="password1_field" class="sr-only">Password</label>
            <input type="password" name="password1_field" class="form-control" placeholder="Password" required>
            <label for="password2_field" class="sr-only">Verify Password</label>
            <input type="password" name="password2_field" class="form-control" placeholder="Verify password" required style="margin-bottom: 10px;">

        <input type="hidden" name="next" value="{{ next }}"/>

        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Join</button>
    </form>

{% endblock %}
