{% extends 'infernoapp/root.html' %}
{% block body %}
<h2>Create New Session</h2>
<form method="post">
	{% csrf_token %}
	<div class="form-group">
        <label for="templace">Session Template</label>
		<select class="form-control" id="template">
		{% for t in templates %}
			<option data-url="{{ t.url }}" value="{{t.pk}}" id="{{t.pk}}">{{t.name}}</option>
		{% endfor %}
		</select>
	</div>
    <div class="form-group">
        <label for="eligible-tiers">Eligible Tiers</label>
        <input type="text" class="form-control" readonly="readonly" id="eligible-tiers">
    </div>
    <div class="form-group">
        <label for="required-tiers">Required Tiers</label>
        <input type="text" class="form-control" readonly="readonly" id="required-tiers">
    </div>
	<div class="form-group">
		<label for="leader">Session Leader</label>
		<select class="form-control" id="leader">
		{% for m in members %}
			<option data-leaderid="{{m.pk}}" value="{{m.pk}}">{{m.user.name}}</option>
		{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="place">Place</label>
		<input type="text" class="form-control" id="place" required placeholder='Location'/>
	</div>
	<div class="form-group">
		<label for="time">Time</label>
		<input type="datetime-local" class="form-control" id="time">
	</div>
	<div class="form-group">
		<label for="duration">Duration (h)</label>
		<input type="number" class="form-control" id="duration">
	</div>
	<div class="form-group">
		<button type="button" id='addbutton' class="btn btn-default btn-primary btn-block">Add...</button>
	<div>
</form>
{% endblock %}
{% block postscripts %}
<script type='text/javascript'>
(function() {
	"use strict";
    function update() {
        var tl = document.getElementById("template");
        var templateID = tl.options[tl.selectedIndex].value;
        var templateURL = '/api/v1/session-templates/' + templateID + '/';

        $.ajax(templateURL, {
            method: 'GET'
        }).done(function (template, textStatus, jqXHR) {
            var default_leader_id = template.default_leader.id;
            var leader_box = $('#leader').find("[data-leaderid='"+default_leader_id+"']");
            //leader_box.attr('selected', 'selected');
	    leader_box.parent().get()[0].selectedIndex = leader_box.index();
            $('#place').val(template.default_place);
            $('#duration').val(template.default_duration_hours);

            var eligible = [];
            var required = [];
            for (var tieridx = 0; tieridx < template.tiereligibility_set.length; ++tieridx) {
                var tier = template.tiereligibility_set[tieridx];
                eligible.push(tier.tier.name);
                if (tier.required) {
                    required.push(tier.tier.name);
                }
            }

            $('#eligible-tiers').val(eligible.join(', '));
            $('#required-tiers').val(required.join(', '));



        }).fail(function (jqXHR, textStatus) {
            alert('Something bad happened: ' + jqXHR.responseText);
        });
	}


	$('#template').on('change', function(evt) {
	    update();
    });

    $('#addbutton').on('click', function(evt) {
        var tl = document.getElementById("template");
        var templateID = tl.options[tl.selectedIndex].value;
        var templateURL = '/api/v1/session-templates/' + templateID + '/';

        var ul = document.getElementById("leader");
        var memberID = ul.options[ul.selectedIndex].value;
        var memberURL = '/api/v1/member-profiles/' + memberID + '/';

        var where = $('#place').val();
        var when = $('#time').val();
        var duration = $('#duration').val();


        var new_session_url = '/api/v1/sessions/';
        var payload = {
            template: templateURL,
            leader: memberURL,
            time: when,
            place: where,
            duration_hours: duration
        };

        $.ajax(new_session_url,{
            method: 'POST',
            data: payload,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        }).fail(function (jqXHR, textStatus) {
            alert('Something bad happened: ' + jqXHR.responseText);
        }).done(function(data, textStatus, jqXHR) {
            window.location = '{% url 'sessions' %}';
        });

    });

    update();
    var now = moment().format("YYYY-MM-DDTHH:mm");
    document.getElementById("time").value = now;

    })();

</script>
{% endblock %}

