{% extends 'infernoapp/root.html' %}
{% block body %}
    <div id="calendar"></div>

{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        var currentYear = new Date().getFullYear();

        $('#calendar').fullCalendar({
            eventSources: [
                {
                    url: '{% url 'v1:calendar-events-list' %}'
                }]
        });

    </script>
{% endblock %}
