{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>{{ member.user.name }}</h2>
    {% for tier in member.tiermembership_set.all %}
        <h3> <small class="text-muted">In {{ tier.tier.name }}
            {% if tier.left %}
                between {{ tier.joined }} and {{ tier.left }}
            {% else %}
                since {{ tier.joined }}
            {% endif %}
        </small></h3>
    {% endfor %}
    <h3>Past Attendance</h3>
        <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th>Session</th>

            <th>When</th>
            <th>Where</th>
            <th>Leader</th>

            <th>Required?</th>
            <th>Committed?</th>
            <th>Attended?</th>
            <th>Arrived Late?</th>
            <th>Left Early?</th>
        </tr>
        </thead>
        <tbody>
        {% for session in session_list %}
            <tr>
                <td><a href="{% url 'session' session.id %}" title="Go to session">{{ session.template.name }}</a></td>

                <td>{{ session.place }}</td>
                <td>{{ session.time|date:"l d M Y" }}</td>
                <td>{{ session.leader }}</td>

                <td>{% if session.required %}<span class="ion-checkmark-circled"></span>{% endif %}</td>
                <td>{% if session.response %}{{  session.response.role }}{% endif %}</td>
            {% if session.attendance %}
                <td><span class="ion-checkmark-circled"></span></td>
                <td>{% if session.attendance.arrived_late %}<span class="ion-checkmark-circled"></span>{% endif %}</td>
                <td>{% if session.attendance.left_early %}<span class="ion-checkmark-circled"></span>{% endif %}</td>
            {% else %}
                <td></td>
                <td></td>
                <td></td>
            {% endif %}

            </tr>
        {% endfor %}
        </tbody>
        </table>

{% endblock %}