{% extends 'infernoapp/root.html' %}
{% block body %}

    <h2>Member Attendance Statistics

        <div class="btn-group">
            <button type="button" class="btn btn-secondary">{% if days %}
                Last {{ days }} day{{ days|pluralize }}
            {% else %}
                All historical data
            {% endif %}</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?days=30">Last 30 days</a>
                <a class="dropdown-item" href="?days=60">Last 60 days</a>
                <a class="dropdown-item" href="?days=60">Last 90 days</a>
                <a class="dropdown-item" href="?days=120">Last 180 days</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?">All data</a>
            </div>
        </div>

    </h2>

    <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th></th>

            <th colspan="4">Eligible</th>

            <th colspan="4">Required</th>

            <th colspan="4">Committed</th>

            <th colspan="3">Arrived Late</th>

            <th colspan="2">Left Early</th>
        </tr>
           <tr>
            <th>Member</th>

            <th>Sessions</th>
            <th>Attended</th>
            <th>Attendance</th>
               <th>&nbsp;</th>

            <th>Sessions</th>
            <th>Attended</th>
            <th>Attendance</th>
               <th>&nbsp;</th>

            <th>#</th>
            <th>Met</th>
            <th>Met %</th>
               <th>&nbsp;</th>

               <th>#</th>
               <th>%</th>
               <th>&nbsp;</th>

               <th>#</th>
               <th>%</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{% url 'member' member.member.pk %}">{{ member.member.user.name }}</a></td>

                <td>{{ member.eligible_count }}</td>
                <td>{{ member.eligible_attended_count }}</td>
                <td>{% widthratio member.eligible_attended_count member.eligible_count 100 %}%</td>
                <td>&nbsp;</td>

                <td>{{ member.required_count }}</td>
                <td>{{ member.required_attended_count }}</td>
                <td>{% widthratio member.required_attended_count member.required_count 100 %}%</td>
                <td>&nbsp;</td>

                <td>{{ member.committed_sessions.count }}</td>
                <td>{{ member.met_commitments.count }}</td>
                <td>{% widthratio member.met_commitments.count member.committed_sessions.count 100 %}%</td>
                <td>&nbsp;</td>

            <td>{{ member.late_sessions.count }}</td>
            <td>{% widthratio member.late_sessions.count member.required_attended_count 100 %}%</td>
                <td>&nbsp;</td>

            <td>{{ member.quitter_sessions.count }}</td>
            <td>{% widthratio member.quitter_sessions.count member.required_attended_count 100 %}%</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
