{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>Calendar for {{ user.name }}</h2>
    <style type='text/css'>.event-required: {font-weight: 'bold';}</style> 
    <div id="calendar"></div>

{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        var currentYear = new Date().getFullYear();

        $('#calendar').fullCalendar({
            eventSources: [
                {
                    url: '{% url 'v1:calendar-member-events-list' %}'
                }]
        });

    </script>
{% endblock %}
