{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>Upcoming Sessions for {{ user.name }}</h2>
    {% for tier in user.memberprofile.tiermembership_set.all %}
        <h3> <small class="text-muted">In {{ tier.tier.name }}
            {% if tier.left %}
                between {{ tier.joined }} and {{ tier.left }}
            {% else %}
                since {{ tier.joined }}
            {% endif %}
        </small></h3>
    {% endfor %}

    <p>For any event you will attend, change the drop-down on the right to the role you will be attending as. If you can't see any drop-downs and you're using a phone, scroll right or use landscape mode!</p>
    <p>If you can't make an event, leave it as 'no commitment'.</p>
    <p>Events added or changed within the last {{ recency_cutoff }} days are highlighted.</p>


    <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th>Session</th>

            <th>Where</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>With</th>
            <th>Required?</th>
            <th>Commit to attending as</th>

        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{% url 'session' session.pk %}">{{ session.template.name }}</a></td>

                <td>{{ session.place }}</td>
                <td>{{ session.time|date:'D, j N' }}</td>
                <td>{{ session.time|time:'H:i' }}</td>
                <td>{{ session.until|time:'H:i' }}</td>
                <td>{{ session.leader }}</td>
                <td style="text-align: center;">{% if session.required %}<span class="ion-checkmark-circled"></span>{% endif %}</td>
                <td>
                    <select title='Commitment' id="{{ session.pk }}"
                            class='form-control attending_changer'>
                        <option value="null">(no commitment)</option>
                        {% for role in roles %}
                            <option value="{{ role.id }}"
                                    {% if session.response %}
                                        {% if role.id == session.response.role.id %}
                                    selected
                                        {% endif %}

                                    {% endif %}
                            >
                                {{ role }}
                            </option>
                        {% endfor %}
                    </select>

                </td>

            </tr>
        {% empty %}
            <tr>
                <td>No sessions!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        $(".attending_changer").change(function () {
            var new_value = $(this).val();
            var payload = {
                'event_id': $(this).attr('id'),
                'new_status': new_value,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            $.ajax('{% url 'change_attending' %}', {
                method: 'POST',
                data: payload
            }).done(function (data) {

            }).fail(function () {
                alert('nope');
            });
        });
    </script>
{% endblock %}