<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Inferno :: {{ LEAGUE_NAME }}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">

<style type="text/css">
    .navbar-text {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    body {
        padding-top: 5em;
    }
</style>
    {% block head %}
    {% endblock %}

</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">
        <span class="ion-fireball"></span>
        Inferno - {{ LEAGUE_NAME }}
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'my_sessions' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Sessions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'my_sessions' %}">My Sessions &amp; Commitments</a>
              <a class="dropdown-item" href="{% url 'my_sessions_calendar' %}">My Calendar</a>
            </div>
          </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'commitments' %}">Commitments</a>
            </li>


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attendance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'sessions' %}">All Session Attendance</a>
              <a class="dropdown-item" href="{% url 'members' %}">All Member Attendance</a>
            </div>
          </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_session' %}">New Session</a>
            </li>

        </ul>

            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">{{ user.name }}</a>
            </li>

                <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'bye' %} ">Sign Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ical' %}" title="iCalendar Link"><span class="ion-calendar"></span></a>
            </li>
        </ul>


    </div>
</nav>
<div class="container-fluid">
    {% if messages %}

        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

</div>


<div class="container-fluid" >
    {% block body %}
    {% endblock %}
</div><!-- /.container -->

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"

        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://s3-eu-west-1.amazonaws.com/inferno-frontend/js/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
{% block postscripts %}
{% endblock %}
</body>
</html>
