{% extends 'infernoapp/root.html' %}
{% block body %}
    <div id="session" data-sessionid="{{ session_id }}">
        <h2><span id="session-name"></span>
            <small class="text-muted">At <span id="session-place"></span>, <span id="session-time"></span> with <span
                    class="session-leader"></span></small>
        </h2>

        <div class="card">
            <h4 class="card-header">To mark yourself as here, enter the code given to you from <span
                    class="session-leader"></span> (valid until <span class="session-code-validity-expires"></span>)</h4>
            <div class="card-block">
                <form class="form form-inline">
                        <input class="form-control" type="number" required placeholder="Session Code" id="code">
                        <button type="button" class="btn btn-outline-primary" id="submitcode">I am here!</button>
                </form>
            </div>
            <div class="message"></div>
        </div>
    <div class="card">
        <h5 class="card-header">Coming soon: Have your session leader scan this...</h5>
        <div class="card-block">
            <a class='pull-right' rel='nofollow' href='http://www.qrcode-generator.de' border='0' style='cursor:default'></a><img src='https://chart.googleapis.com/chart?cht=qr&chl={{ request.build_absolute_uri|urlencode }}&chs=180x180&choe=UTF-8&chld=L|2' alt=''>
        </div>
    </div>
    </div>

{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        (function () {
            "use strict";
            var session_id = {{ session_id }};
            var session_url = '{% url 'v1:session-detail' session_id %}';
            var members_for_session_url = '{% url 'v1:members_for_session' session_id %}';
            var submit_code_url = '{% url 'submit_code' %}';

            $('#submitcode').on('click', function(event) {
                var code = $('#code').val();
                event.stopPropagation();
                if (code.length < 1) return;
                $.ajax(submit_code_url, {
                    method: 'POST',
                    data: {
                        'code': code,
                        'session_id': session_id
                    },
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                }).done(function (data, textStatus, jqXHR) {
                    $(".alert").alert('close');
                        $('.message').after().append(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '<strong>Tweet!</strong> <span class="error-text"></span>' +
                            '</div>');

                        $('.error-text').html("Thanks!");
                        $(".alert").alert();
                }).fail(function (jqXHR, textStatus) {
                        $(".alert").alert('close');
                        $('.message').after().append(
                            '<div class="alert alert-warning alert-dismissible fade show" role="alert"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '<strong>Tweet!</strong> <span class="error-text"></span>' +
                            '</div>');

                        $('.error-text').html(jqXHR.responseText);
                        $(".alert").alert();
                });

            });

            $.ajax(session_url, {
                method: 'GET'
            }).done(function (session, textStatus, jqXHR) {

                var when = moment(session.time);
                var code_expires = moment(session.code_validity_ends);


                $('#session-name').html(session.template.name);
                $('#session-place').html(session.place);
                $('#session-time').html(when.calendar());
                $('.session-leader').html(session.leader.user.name);
                $('.session-code').html(session.code);
                $('.session-code-validity-expires').html(code_expires.calendar());

            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {

            });


        })();
    </script>
{% endblock %}
