{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>Session Commitments</h2>

    <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th>Session</th>

            <th>Where</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Who</th>

            <th>Eligible</th>

            <th>Required</th>
            <th>&nbsp;</th>
            {% for role in roles %}
            <th>{{ role.role }}</th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{% url 'commitments' session.session.pk %}">{{ session.session.template.name }}</a></td>

                <td>{{ session.session.place }}</td>
                <td>{{ session.session.time|date:'D, j N' }}</td>
                <td>{{ session.session.time|time:'H:i' }}</td>
                <td>{{ session.session.until|time:'H:i' }}</td>
                <td>{{ session.session.leader }}</td>
                <td>{{ session.eligible_count }}</td>
                <td>{{ session.required_count }}</td>

                <td>&nbsp;</td>
            {% for role, members in session.scs.role_map.items %}
                <td>{{ members|length }} </td>
                {% endfor %}

            </tr>
        {% empty %}
            <tr>
                <td>No sessions!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}