{% extends 'infernoapp/root.html' %}
{% block body %}
    <div id="session" data-sessionid="{{ session_id }}">
        <h2><span id="session-name"></span>
            <small class="text-muted">At <span id="session-place"></span>, <span id="session-time"></span> with <span
                    class="session-leader"></span></small>
        </h2>
        <h3>You are not eligible for this session.</h3>
    </div>

{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        (function () {
            "use strict";
            var session_id = {{ session_id }};
            var session_url = '{% url 'v1:session-detail' session_id %}';

            $.ajax(session_url, {
                method: 'GET'
            }).done(function (session, textStatus, jqXHR) {
                var when = moment(session.time);

                $('#session-name').html(session.template.name);
                $('#session-place').html(session.place);
                $('#session-time').html(when.calendar());
                $('.session-leader').html(session.leader.user.name);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {

            });


        })();
    </script>
{% endblock %}
