{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>Session Attendance Statistics</h2>

    <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th>Session</th>

            <th>Where</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Who</th>

            <th>Eligible Tiers</th>
            <th>Eligible Members</th>

            <th>Required Tiers</th>
            <th>Required Members</th>
            <th>Pledges Made</th>
            <th>Pledges Met</th>
            <th>Attended</th>

        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{% url 'session' session.session.pk %}">{{ session.session.template.name }}</a></td>

                <td>{{ session.session.place }}</td>
                <td>{{ session.session.time|date:'D, j N' }}</td>
                <td>{{ session.session.time|time:'H:i' }}</td>
                <td>{{ session.session.until|time:'H:i' }}</td>
                <td>{{ session.session.leader }}</td>

                <td>
                    {% for el in session.session.template.tiereligibility_set.all %}
                        {{ el.tier.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {{ session.eligible_count }}
                </td>
                <td>
                    {% for el in session.session.template.tiereligibility_set.all %}
                        {% if el.required %}
                        {{ el.tier.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ session.required_count }}

                </td>

            <td>{{ session.committed.count }}</td>
            <td>{{ session.met_commitments.count }}</td>
                <td>
                    {{ session.eligible_attended_count }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>No sessions!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}