{% extends 'infernoapp/root.html' %}
{% block body %}
    <div id="session" data-sessionid="{{ session_id }}">
        <h2><span id="session-name"></span>
            <small class="text-muted">At <span id="session-place"></span>, <span id="session-time"></span> with <span
                    class="session-leader"></span></small>
        </h2>

            <h3 >This session's code is <code><span class="session-code"></span></code> and is valid until <span class="session-code-validity-expires"></span>.</h3>
        <p><a href="{% url 'commitments' session_id %}">See this session's <strong>Commitments</strong>.</a> </p>

                <table class="table table-responsive" id="member-table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Member</th>
                        <th>Tiers</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="member-table-body">

                    </tbody>
                </table>
            </div>

        <div id="buttonblock" hidden="hidden">
            <div class="btn-group" data-toggle="buttons">
                <label class="attend_toggle btn btn-outline-primary">
                    <input type="checkbox" autocomplete="off"> Attended
                </label>
                <label class="arrive_late_toggle btn btn-outline-warning">
                    <input type="checkbox" autocomplete="off"> Arrived Late
                </label>
                <label class="leave_early_toggle btn btn-outline-warning">
                    <input type="checkbox" autocomplete="off"> Left Early
                </label>
            </div>
        </div>
{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
        (function () {
            "use strict";
            var session_id = {{ session_id }};
            var session_url = '{% url 'v1:session-detail' session_id %}';
            var members_for_session_url = '{% url 'v1:members_for_session' session_id %}';
            var submit_code_url = '{% url 'submit_code' %}';

            $.ajax(session_url, {
                method: 'GET'
            }).done(function (session, textStatus, jqXHR) {
                var when = moment(session.time);
                var code_expires = moment(session.code_validity_ends);

                $('#session-name').html(session.template.name);
                $('#session-place').html(session.place);
                $('#session-time').html(when.calendar());
                $('.session-leader').html(session.leader.user.name);
                $('.session-code').html(session.code);
                $('.session-code-validity-expires').html(code_expires.calendar());

                $.ajax(members_for_session_url, {
                    method: 'GET'
                }).done(function (members, textStatus, jqXHR) {
                    var table = $('#member-table').find('> tbody:last-child');
                    var buttonblock_html = $("#buttonblock").html();
                    var i = 0;

                    for (i = 0; i < members.length; ++i) {
                        var member = members[i];
                        var tr = document.createElement('tr');
                        tr.setAttribute('data-memberid', member.id);
                        $(tr).data('member', member);
                        var tiermemberships = [];
                        for (var j = 0; j < member.tiermembership_set.length; ++j) {
                            var tm = member.tiermembership_set[j];
                            if (tm.left == null) // still in tier!
                                tiermemberships.push(tm.tier.name);
                        }
                        $(tr).html('<td>' + member.user.name + '</td>' +
                            '<td>' + tiermemberships.join(', ') + '</td>' +
                            '<td>' + buttonblock_html + '</td>' +
                            '</tr>');
                        table.append(tr);
                    }

                    for (i = 0; i < session.attendancerecord_set.length; ++i) {
                        var ar = session.attendancerecord_set[i];
                        var uid = ar.member.id;

                        var row = $("tr[data-memberid='" + uid + "']");

                        row.data('record', ar);

                        var attend_box = row.find('.attend_toggle');

                        attend_box.addClass('active');
                        attend_box.find('input').attr('checked', 'checked');

                        if (ar.arrived_late) {
                            var arrived_late_box = row.find('.arrive_late_toggle');
                            arrived_late_box.addClass('active');
                            arrived_late_box.find('input').attr('checked', 'checked');
                        }

                        if (ar.left_early) {
                            var left_early_box = row.find('.leave_early_toggle');
                            left_early_box.addClass('active');
                            left_early_box.find('input').attr('checked', 'checked');
                        }

                    }


                    $(".attend_toggle").change(function (event) {
                        var button = $(event.target);
                        var buttonrow = button.closest('tr');
                        var member = buttonrow.data('member');
                        var sessionid = $('#session').data('sessionid');

                        var existing_record = null;
                        if (typeof(buttonrow.data('record')) != "undefined") {
                            existing_record = buttonrow.data('record');
                        }
                        // If record exists - remove it.
                        // Else create it.
                        if (existing_record == null) {
                            var payload = {
                                "member": member.url,
                                "session": session.url,
                                "arrived_late": false,
                                "left_early": false
                            };
                            var create_url = '{% url 'v1:attendancerecord-list' %}';

                            $.ajax(create_url, {
                                method: 'POST',
                                data: payload,
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (record, textStatus, jqXHR) {
                                buttonrow.data('record', record);

                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }
                        else {
                            // delete existing record
                            $.ajax(existing_record.url, {
                                method: 'DELETE',
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (data, textStatus, jqXHR) {
                                buttonrow.removeData('record');
                                // TODO: uncheck arrivedlate/leftearly
                                var arrived_late_box = row.find('.arrive_late_toggle');
                                arrived_late_box.removeClass('active');
                                arrived_late_box.find('input').removeAttr('checked');

                                var left_early_box = row.find('.leave_early_toggle');
                                left_early_box.removeClass('active');
                                left_early_box.find('input').removeAttr('checked');


                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }

                    });

                    $(".arrive_late_toggle").change(function (event) {
                        var button = $(event.target);
                        var arrived_late = button.is(':checked');

                        var buttonrow = button.closest('tr');
                        var member = buttonrow.data('member');
                        var sessionid = $('#session').data('sessionid');

                        var existing_record = null;
                        if (typeof(buttonrow.data('record')) != "undefined") {
                            existing_record = buttonrow.data('record');
                        }
                        // If record exists - update it.
                        // Else create it.
                        if (existing_record == null) {
                            var payload = {
                                "member": member.url,
                                "session": session.url,
                                "arrived_late": true,
                                "left_early": false
                            };
                            var create_url = '{% url 'v1:attendancerecord-list' %}';

                            $.ajax(create_url, {
                                method: 'POST',
                                data: payload,
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (record, textStatus, jqXHR) {
                                buttonrow.data('record', record);
                                var attend_box = buttonrow.find('.attend_toggle');

                                attend_box.addClass('active');
                                attend_box.find('input').attr('checked', 'checked');


                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }
                        else {
                            // update existing record
                            var update_payload = {
                                'arrived_late': arrived_late
                            };

                            $.ajax(existing_record.url, {
                                method: 'PATCH',
                                data: update_payload,
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (record, textStatus, jqXHR) {
                                buttonrow.data('record', record);

                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }


                    });

                    $(".leave_early_toggle").change(function (event) {
                        var button = $(event.target);
                        var left_early = button.is(':checked');

                        var buttonrow = button.closest('tr');
                        var member = buttonrow.data('member');
                        var sessionid = $('#session').data('sessionid');

                        var existing_record = null;
                        if (typeof(buttonrow.data('record')) != "undefined") {
                            existing_record = buttonrow.data('record');
                        }
                        // If record exists - update it.
                        // Else create it.
                        if (existing_record == null) {
                            var payload = {
                                "member": member.url,
                                "session": session.url,
                                "arrived_late": false,
                                "left_early": true
                            };
                            var create_url = '{% url 'v1:attendancerecord-list' %}';

                            $.ajax(create_url, {
                                method: 'POST',
                                data: payload,
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (record, textStatus, jqXHR) {
                                buttonrow.data('record', record);
                                var attend_box = buttonrow.find('.attend_toggle');

                                attend_box.addClass('active');
                                attend_box.find('input').attr('checked', 'checked');


                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }
                        else {
                            // update existing record
                            var update_payload = {
                                'left_early': left_early
                            };

                            $.ajax(existing_record.url, {
                                method: 'PATCH',
                                data: update_payload,
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).done(function (record, textStatus, jqXHR) {
                                buttonrow.data('record', record);

                            }).fail(function () {
                                alert('Something bad happened. Sorry.');
                                window.location.reload();
                            });
                        }

                    });


                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {

                });


            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }).always(function (data_or_jqXHR, textStatus, jqXHR_or_errorThrown) {

            });


        })();
    </script>
{% endblock %}
