{% extends 'infernoapp/root.html' %}
{% block body %}
    <h2>Commitments for {{ session.template.name }}
        <small class="text-muted">at {{ session.place }}, {{ session.time|date:"D d F Y, f a" }}</small>
    </h2>
    <p><a href="{% url 'session' session.pk %}">See this session's <strong>Register</strong>.</a></p>
    {% for role, details in sessionmap.items %}

        <div class="card" style="margin-bottom: 2em;">
            <div class="card-block">
                <h4 class="card-title">{{ role }}</h4>
            </div>
            <ul class="list-group list-group-flush">
                {% for commitment in details %}

                    <li class="list-group-item">{{ commitment.member }}</li>
                {% endfor %}
            </ul>
        </div>


    {% endfor %}

{% endblock %}
